<% include ./partials/header.ejs %>

    <h1>This is the favorites page</h1>
    
    <div class="favorites-container">
        <% favoriteItems.forEach(function(item){ %>
        
            <div class="favorite-item <%=item.id%>">
                <h3><%= item.label %></h3>
                <image src = "<%= item.image %>"/> 
                <ul>
                   <% item.ingredients.forEach(ingredient =>{ %>
                        <li><%= ingredient %></li>
                   <% }); %>
                </ul>
                <div class = "item-buttons">
                    <button type="button" onclick="window.open('<%=item.url%>', '_blank')">View Instructions</button>
                    <button type="button" class = "<%=item.id%>" onclick="addFavoriteToGroceries(this)">Add to Groceries</button>
                    <button type="button" class="<%=item.id%>" onclick="removeItemFromFavorites(this)">Remove</button>
                </div>
            </div>
            
        <% }); %>
    </div>
   

<% include ./partials/footer.ejs %>