<% include ../partials/header.ejs %>

    <div class="sidebar">
        <h3>Pantry Items</h3>
        <% pantryItems.forEach((pantryItem) => { %>
            <p><%=pantryItem.item%></p>
        <% }); %>
    </div>

    <div class = "main-container">
        <% recipes.forEach((recipe) => { %>
            <div class="recipeItems-container" id="<%=recipe.id%>">
                <h3><%= recipe.label %></h3>
                <ul>
                   <% recipe.foodItems.forEach((recipeItem) => { %>
                        <% let className = "cartItem"; %>
                            <% pantryItems.forEach((pantryItem) => { %>
                                <% if(recipeItem.foodItem.toLowerCase().includes(pantryItem.item.toLowerCase())){ %>
                                    <% className ="cartItem-pantry"; %>
                                    <% return; %>
                                    <% } %>
                            <% }); %>
                        <li class = <%= className %>><%= recipeItem.foodItem.charAt(0).toUpperCase() + recipeItem.foodItem.slice(1) %></li>
                    <% }); %>
                </ul>
                <button onclick="deleteRecipeFromCart(this)">Remove Recipe</button>
            </div>
        <% }); %>
    </div>


<% include ../partials/footer.ejs %>